body  {
    color : palevioletred;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times,serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.6em;
    background-color:beige;
    border-style: solid;
    border-width: 8px;
    padding: 10%;
    margin: 10px 10px;
}

header1  {
    font-size: 42px;
}
a:link  {
    color: rebeccapurple;
}

h1 {
    color: palevioletred;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 1.3em;

    margin: 20 auto;
}

ul{
    color: rebeccapurple;
    font-weight: bold;
    font-size: 10px;
    border-style: solid;
    border-width: 2px; 
}
 
/* media queries */
/*
@media (min-width: 1024px) {
    ul {
      background-color: palevioletred;
      color: white;
      font-sixe; 22px;
      line-height: 2em;
    }
  }

@media (min-width: 768px) {                                                          
    ul {                                                                             
        font-size: 60px;                                                             
    }                                                                                
} 
@media (max-width: 320px) {                                                          
    ul {                                                                             
        font-size: 10px; 
        color: red;                                                            
    }                                                                                
}  
*/                                                                                  
